*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

.container{
    width: 1400px;
    margin: 0 auto;

    .title{
        text-align: center;
        margin: 2rem 0;
        height: 70px;
        background-color: #adad85;
        @include vertical_algnm;
        justify-content: center;
        border-radius: 10px;

    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;

    .col{
        flex-basis: 20%;
        min-height: 300px;
        padding: 1rem;
    }
}

.card{
    text-align: center;
    height: 350px;
    @include vertical_algnm;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #66cc99;
    cursor: $pointer;
    border-radius: 10px;

    .movie-title{
        font-size: 25px;
    }

    p{
        padding: 10px 0;
        font-size: 20px;
    }
}

.card:hover{
    transform: translateY(-10px);
    border: 5px solid darkgray;
}


